.module {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 1px solid lightgray;
}
.title {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 10px 0px 10px 40px;
}
.list {
  display: flex;
  flex-direction: column;
}
.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px 40px 10px 40px;
}
.option:hover {
  background-color: lightgray;
}
.option:hover > .icon {
  color: black;
}
.text {
  font-size: 1rem;
  font-weight: lighter;
}
.icon {
  margin-right: 5px;
  color: lightslategray;
  width: 15px;
  height: 15px;
}
